<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>903438821532-hg8u9khmfr8t62sp1rsttle208t4irh8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.903438821532-hg8u9khmfr8t62sp1rsttle208t4irh8</string>
	<key>API_KEY</key>
	<string>AIzaSyCi4ZcwkYVne_Zqqt6WDHlKaeSDKxfXze0</string>
	<key>GCM_SENDER_ID</key>
	<string>903438821532</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>cn.6ag.AppScreenshots</string>
	<key>PROJECT_ID</key>
	<string>admob-app-id-9852864912</string>
	<key>STORAGE_BUCKET</key>
	<string>admob-app-id-9852864912.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:903438821532:ios:0a2d9ff0d2e6ee24</string>
	<key>DATABASE_URL</key>
	<string>https://admob-app-id-9852864912.firebaseio.com</string>
</dict>
</plist>